/*Fond de page beige = #F1DDA8*/
/*Gris foncé dominant = #626063*/
/*Marron foncé ombre = #C2AC88*/

body
{
	background-image:url(images/burmy-sandy.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	background-position:top left;
	background-size: 105%;
	background-color: #F1DDA8;
}

#title_page
{
	color : #F1DDA8;
	/*font-size: 25px;*/
	font-family: Verdana;
}

.navbar-default
{
  background-color: #626063;
  border-color : transparent;
}

#left_layout
{
	background-size: 30%;
}

#textarea_submit
{
	color :#626063;
}

span.glyphicon-question-sign
{
    font-size: 1.5em;
}

span.glyphicon-cog
{
    font-size: 1.5em;
}

div.modal-body, div.modal-footer
{
	color : #626063;
	background-color: #F1DDA8;
	border-color : transparent;
}

div.modal-header
{
	background-color: #626063;
	color : #F1DDA8;
	font-family: Verdana;
	border-color : transparent;
}

table
{
	text-align:center;
	opacity : 0.9;
	color:#F1DDA8;
	background-color:#626063;
	border-color:transparent;
}

table>thead
{
	
	font-size:14px;
}

table>tbody
{
	font-size:11px;
}

span.input-group-addon
{
	width:145px;
	text-align: left;
	color : #F1DDA8;
	background-color: #626063;
}

.input-group
{
	width : 100%;
}

.stats, .stats:disabled
{
	cursor : default;
	color : 626063;
	background-color: #F1DDA8; 
}
